@model CollectionViewModel
@{
	ViewData["Title"] = "Collection";
}

<form method="post" enctype="multipart/form-data" autocomplete="off"
	  asp-action="FileUpload">

	<div class="form-group">
		<div class="col-md-10">
			<p>Upload one or more files using this form:</p>
			<input type="file" name="files" multiple />
		</div>
		<div class="col-md-10">
			<input type="submit" value="Upload" />
		</div>
	</div>
</form>

<br />

<div>
	@foreach (var item in Model.Items)
	{
		<div>
			<img src="~/Collection/Thumbnail?uploadId=@item.UploadId" />
			<a href="~/Collection/Stream?uploadId=@item.UploadId">
				@(item.DisplayName ?? item.FormFileName ?? item.CreationTime.ToString())
			</a>

			<form method="post" enctype="multipart/form-data" autocomplete="off"
				  asp-action="Delete">
				<div class="col-md-10">
					<input type="text" name="uploadId" value="@item.UploadId"/>
				</div>
				<div class="form-group">
					<div class="col-md-10">
						<input type="submit" value="Delete" />
					</div>
				</div>
			</form>

		</div>
		<br />
	}
</div>